body {
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  font-family: sans-serif;
}

.image-container {
  width: 1100px;
  margin: 30px auto;
  background-color: #eaeaea;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
  box-sizing: border-box;
}

.image-container img {
  width: 200px;
  height: 200px;
  margin: 10px;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: white;
  object-fit: cover;
}
